<mat-sidenav-container class="container" >
    <mat-sidenav class="sidenav" mode="side" opened 
        fixedInViewport="true" fixedTopGap="64" >
        <mat-nav-list>
            <a mat-list-item routerLink="/planetas">
                <i class="material-icons"> code </i>Planetas
            </a>
            <a mat-list-item routerLink="/personagens">
                <i class="material-icons"> code </i>Personagens    
            </a>
            <a mat-list-item routerLink="/filmes">
                <i class="material-icons" > code </i>Filmes    
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet> </router-outlet>
    </mat-sidenav-content>
    
  </mat-sidenav-container>